AgentX index_allocate is unusable

Net-SNMP's snmpd does not seem to provide a usable index allocation response.

Though the index allocation works as you would expect, the `Register` command seems unwilling to return `duplicateRegistration` making it impossible to use the process [described in RFC 2741, section 7.1.4.2.2 covering Index Allocation](https://datatracker.ietf.org/doc/html/rfc2741#section-7.1.4.2.2); I am using the default priority (127) which looks to match what the source code uses for the internal interface interface entries.

This means you are unable to reserve an `ifIndex` safely for use in `IF-MIB::ifTable`
                                     
For now the only safe(r) strategy is to pick a high non-conflicting number and hope it pans out okay.